@import "breakpoints";

html {
  font-size: 62.5%; //10px

  @include for-size(tablet-portrait-up) {
    font-size: 75%; //12px
  }

  @include for-size(desktop-up) {
    font-size: 85%; //12px
  }
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 2rem;

  @include for-size(tablet-landscape-up) {
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    background: #DEDEDE;
  }
}

.container {
  @include for-size(tablet-landscape-up) {
    background-color: #FFF;
    padding: 7.5vh 5vw 10vh;
    border-radius: 10px;
    width: 50%;
  }

  @include for-size(big-desktop-up) {
    width: 30%;
  }
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
  margin-top: 30px;
}

form {
  font-size: 0; //Zera margem horizontal entre items
}

form input[type="radio"] {
  display: none;
}

form label{
	background-color: #EEFF00;
  display: inline-block;
  height: 4rem;
  width: 32.6%;
  max-width: 340px;
  line-height: 4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

input:checked + label{
  border: 3px solid #000000;
}

form input[type="submit"] {
  background-color: #EEFF00;
  width: 98.8%;
  max-width: 1020px;
  height: 5rem;
  margin-top: 50px;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}